openapi: 3.0.0
info:
  title: Polito Faculty Announcements Lectures API
  version: 0.0.1
  license:
    name: CC BY-NC 4.0
    url: https://creativecommons.org/licenses/by-nc/4.0/
servers:
- url: https://app.didattica.polito.it/api
  description: Production server
  variables: {}
- url: https://app.didattica.polito.it/mock/api
  description: Mock server (uses example data)
  variables: {}
security:
- BearerAuth: []
tags:
- name: Lectures
paths:
  /lectures:
    get:
      operationId: Lectures_getLectures
      summary: List lectures | Elenca lezioni
      parameters:
      - name: fromDate
        in: query
        required: false
        description: First day - defaults to 7 days before today
        schema:
          type: string
          format: date
        explode: false
      - name: toDate
        in: query
        required: false
        description: Last day - defaults to 7 days after today
        schema:
          type: string
          format: date
        explode: false
      - name: courseIds[]
        in: query
        required: false
        description: Only include lectures belonging to these courses
        schema:
          type: array
          items:
            type: number
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lecture'
                required:
                - data
              example:
                data:
                - id: 12131312
                  startsAt: '2021-09-28T14:30:00Z'
                  endsAt: '2021-09-28T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms:
                  - id: 149336
                    title: CYB / lecture 28.09.2021 (TLS, slides 1-40)
                - id: 12131313
                  startsAt: '2021-10-01T10:00:00Z'
                  endsAt: '2021-10-01T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms:
                  - id: 150397
                    title: CYB / lecture 01.10.2021 (TLS, slides 41-55)
                - id: 12131314
                  startsAt: '2021-10-05T14:30:00Z'
                  endsAt: '2021-10-05T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131315
                  startsAt: '2021-10-08T10:00:00Z'
                  endsAt: '2021-10-08T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Esercitazione aula
                  description: Demos about TLS and SSH. Introduction to the laboratory.
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131316
                  startsAt: '2021-10-12T08:30:00Z'
                  endsAt: '2021-10-12T10:00:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131317
                  startsAt: '2021-10-12T10:00:00Z'
                  endsAt: '2021-10-12T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131318
                  startsAt: '2021-10-12T14:30:00Z'
                  endsAt: '2021-10-12T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131319
                  startsAt: '2021-10-15T10:00:00Z'
                  endsAt: '2021-10-15T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131320
                  startsAt: '2021-10-19T08:30:00Z'
                  endsAt: '2021-10-19T10:00:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131321
                  startsAt: '2021-10-19T10:00:00Z'
                  endsAt: '2021-10-19T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131322
                  startsAt: '2021-10-19T14:30:00Z'
                  endsAt: '2021-10-19T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131323
                  startsAt: '2021-10-22T10:00:00Z'
                  endsAt: '2021-10-22T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131324
                  startsAt: '2021-10-26T08:30:00Z'
                  endsAt: '2021-10-26T10:00:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131325
                  startsAt: '2021-10-26T10:00:00Z'
                  endsAt: '2021-10-26T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131326
                  startsAt: '2021-10-26T14:30:00Z'
                  endsAt: '2021-10-26T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131327
                  startsAt: '2021-11-02T08:30:00Z'
                  endsAt: '2021-11-02T10:00:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131328
                  startsAt: '2021-11-02T10:00:00Z'
                  endsAt: '2021-11-02T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131329
                  startsAt: '2021-11-02T14:30:00Z'
                  endsAt: '2021-11-02T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131330
                  startsAt: '2021-11-05T10:00:00Z'
                  endsAt: '2021-11-05T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131331
                  startsAt: '2021-11-09T08:30:00Z'
                  endsAt: '2021-11-09T10:00:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Esercitazione Laboratorio con titolo esageratamente lungo che poi boh
                  description: squadra 1
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131332
                  startsAt: '2021-11-09T10:00:00Z'
                  endsAt: '2021-11-09T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Esercitazione Laboratorio
                  description: squadra 1
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131333
                  startsAt: '2021-11-09T14:30:00Z'
                  endsAt: '2021-11-09T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131334
                  startsAt: '2021-11-16T08:30:00Z'
                  endsAt: '2021-11-16T10:00:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Esercitazione Laboratorio
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131335
                  startsAt: '2021-11-16T10:00:00Z'
                  endsAt: '2021-11-16T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Esercitazione Laboratorio
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131336
                  startsAt: '2021-11-16T14:30:00Z'
                  endsAt: '2021-11-16T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131337
                  startsAt: '2021-11-23T08:30:00Z'
                  endsAt: '2021-11-23T10:00:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Esercitazione Laboratorio
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131338
                  startsAt: '2021-11-23T10:00:00Z'
                  endsAt: '2021-11-23T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Esercitazione Laboratorio
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131339
                  startsAt: '2021-11-23T14:30:00Z'
                  endsAt: '2021-11-23T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131340
                  startsAt: '2021-11-30T08:30:00Z'
                  endsAt: '2021-11-30T10:00:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Esercitazione Laboratorio
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131341
                  startsAt: '2021-11-30T10:00:00Z'
                  endsAt: '2021-11-30T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Esercitazione Laboratorio
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131342
                  startsAt: '2021-11-30T14:30:00Z'
                  endsAt: '2021-11-30T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Esercitazione aula
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131343
                  startsAt: '2021-12-03T10:00:00Z'
                  endsAt: '2021-12-03T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131344
                  startsAt: '2021-12-07T08:30:00Z'
                  endsAt: '2021-12-07T10:00:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131345
                  startsAt: '2021-12-07T10:00:00Z'
                  endsAt: '2021-12-07T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131346
                  startsAt: '2021-12-07T14:30:00Z'
                  endsAt: '2021-12-07T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131347
                  startsAt: '2021-12-10T10:00:00Z'
                  endsAt: '2021-12-10T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131348
                  startsAt: '2021-12-14T08:30:00Z'
                  endsAt: '2021-12-14T10:00:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131349
                  startsAt: '2021-12-14T10:00:00Z'
                  endsAt: '2021-12-14T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131350
                  startsAt: '2021-12-14T14:30:00Z'
                  endsAt: '2021-12-14T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
                - id: 12131351
                  startsAt: '2021-12-17T10:00:00Z'
                  endsAt: '2021-12-17T11:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione / Esercitazione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms: []
        '400':
          description: The server could not understand the request due to invalid syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Lectures
components:
  schemas:
    RelatedVirtualClassroom:
      type: object
      required:
      - id
      - title
      properties:
        id:
          type: integer
          example: 150157
        title:
          type: string
          example: Lecture 1
    Lecture:
      type: object
      required:
      - id
      - startsAt
      - endsAt
      - type
      - virtualClassrooms
      - description
      - courseId
      - courseName
      - teacherId
      - place
      properties:
        id:
          type: number
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        type:
          type: string
        virtualClassrooms:
          type: array
          items:
            $ref: '#/components/schemas/RelatedVirtualClassroom'
        description:
          type: string
          nullable: true
        courseId:
          type: integer
        courseName:
          type: string
        teacherId:
          type: integer
          example: 150157
        place:
          $ref: '#/components/schemas/PlaceRef'
    PlaceRef:
      type: object
      required:
      - buildingId
      - floorId
      - roomId
      - siteId
      - name
      properties:
        buildingId:
          type: string
        floorId:
          type: string
        roomId:
          type: string
        siteId:
          type: string
        name:
          type: string
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: Bearer
